@model IEnumerable<BugSleuth.Models.TicketType>

@{
    ViewBag.Title = "Index";
}
<div class="wrap-primary">
    <div class="container boxed">

        <h2>Ticket Types</h2>

        <p>
            @Html.ActionLink("New Ticket Type", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
